h2 {
    padding: 5px 0px;
}

.wrapper .col-md-6 {
    padding: 20px 0px;
}

.input-container {
    padding: 10px 0px;
}

  /* Style the form icons */
.icon {
    position: relative;
    padding: 10px;
    background: #44B2E3;
    color: white;
    min-width: 50px;
    max-width: 50px;
    text-align: center;
    height: 100%;
}

input, select, textarea {
    width: 80%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    box-shadow: 2px 2px 2px rgba(141, 187, 255, 0.5)
}

textarea {
    height: 100px;
}
  
input:focus {
    border: 2px solid #44B2E3;
}

input, textarea, select {
    padding-left: 10px;
}

#form-jump .input-container:nth-of-type(5) {
    max-height: 165px;
    position: relative;
}

#form-jump .input-container:nth-of-type(5) .icon {
    top: -85px;
    height: 95px;
}

#form-jump .input-container:nth-of-type(5) label.error {
    position: absolute;
    width: 100%;
    height: 20px;
    left: 0;
    bottom: 10px;
}

main section button {
    width: 200px;
    background: #44B2E3;
    color: white;
    border: none;
    border-radius: 10px; 
    padding: 10px 30px;
    margin: 20px 0px;
    font-family: "Poppins";
    font-size: 1.2em;
    text-shadow: 2px 2px 4px #44B2E3;
    box-shadow: 2px 2px 2px rgba(141, 187, 255, 0.5) !important;
}

label.error {
    color: #D00125;
}

/* Right side */

iframe {
    width: 100%;
    height: 300px;
    margin: 0 auto;
    border: 10px solid white !important;
}

img {
    max-width: 50px;
}

/* Modal */

#modal-outer {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(210, 240, 250, 0.5);
    z-index: 1;
    top: 0;
    left: 0;
    display: none;
}

#modal-inner {
    background-color: white;
    position: fixed;
    width: 90%;
    height: 50vh;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    display: none;
    padding-top: 70px;
}

#modal-inner h3 {
    font-family: "Megan June";
    color: #D00125;
    margin: 10px 0px;
}

svg {
    width: 100%;
    height: 100%;
}

path {
    stroke: none; 
    fill: #45B3E4;
}

#svg-outer {
    width: 100%;
    height: 150px;
    overflow: hidden;
    position: absolute;
    bottom: 0px;
    border-radius: 0px 0px 20px 20px;
}

@media (min-width: 768px) {

    .wrapper {
        width: 100%;
        padding: 20px 0px;
        border-radius: 10px;
        background: linear-gradient(90deg, rgb(245, 223, 191) 60%, #44B2E3 40%);
        box-shadow: 2px 2px 2px rgba(111, 147, 201, 0.5) !important;
    }
    
    main section .col-md-4 {
        text-align: right;
        left: 50px;
    }

    .wrapper .col-md-6 {
        padding: 0px;
    }

    #modal-inner {
        width: 50%;
        height: 50vh;
        border-radius: 20px;
        display: none;
        padding-top: 70px;
    }

}