h2 {
    padding: 5px 0px;
}

.wrapper .col-md-6 {
    padding: 20px 0px;
}

.input-container {
    padding: 10px 0px;
}

  /* Style the form icons */
.icon {
    position: relative;
    padding: 10px;
    background: #44B2E3;
    color: white;
    min-width: 50px;
    text-align: center;
    height: 100%;
}

form .input-container:nth-of-type(4) {
    height: 150px;
 }

 form .input-container:nth-of-type(4) .icon {
    top: -85px;
    height: 95px;
 }

input, select, textarea {
    width: 80%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    box-shadow: 2px 2px 2px rgba(141, 187, 255, 0.5)
}

textarea {
    min-height: 100px;
    max-height: 100px;
}
  
input:focus {
    border: 2px solid #44B2E3;
}

input::placeholder, textarea::placeholder {
    padding-left: 10px;
}

main section button {
    width: 200px;
    background: #44B2E3;
    color: white;
    border: none;
    border-radius: 10px; 
    padding: 10px 30px;
    margin: 20px 0px;
    font-family: "Poppins";
    font-size: 1.2em;
    box-shadow: 2px 2px 2px rgba(141, 187, 255, 0.5) !important;
}

iframe {
    width: 100%;
    height: 300px;
    margin: 0 auto;
    border: 10px solid white !important;
}

img {
    max-width: 50px;
}

@media (min-width: 768px) {

    .wrapper {
        width: 100%;
        padding: 20px 0px;
        border-radius: 10px;
        background: linear-gradient(90deg, rgb(245, 223, 191) 60%, #44B2E3 40%);
        box-shadow: 2px 2px 2px rgba(111, 147, 201, 0.5) !important;
    }
    
    main section .col-md-4 {
        text-align: right;
        left: 50px;
    }

    .wrapper .col-md-6 {
        padding: 0px;
    }

}