@font-face {
    font-family: 'Megan June';
    src: url('/fonts/Megan_June.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins_Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

html, body {
    width: auto !important;
    overflow-x: hidden !important;
}

h2 {
    font-family: "SignPainter";
    font-size: 3em;
    color: #D0021B;
    padding: 30px 0px;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.shadow-header {
    width: 100%;
    height: 20vh;
    background-image: url(/images/kids-shadow.jpg);
}

img {
    width: 100%;
    margin: 20px 0px 20px 0px;
}

p {
    font-family: "Poppins";
    color: #133A68;
    padding: 15px 0px;
    font-size: 18px;
}

.hide-mobile {
    display: none;
}

section {
    padding: 30px 0px;
}

/* Colored backgrounds */

.body-top-sandy {
    background: linear-gradient(rgb(245, 223, 191), #FFFFFF);
    width: 100%;
}

.body-top-ocean {
    background: linear-gradient(#FFFFFF, #CCEDF8);
    width: 100%;
}

.body-bottom-blue {
    background: linear-gradient(#FFFFFF, #08B1E3);
    width: 100%;  
}

@media (min-width: 768px) {

    .hide-mobile {
        display: block;
    }

    .hide-lg {
        display: none;
    }

}