@font-face {
    font-family: 'Megan June';
    src: url('/fonts/Megan_June.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

nav img {
    width: 50px;
    height: 50px;
    margin: 0px !important;
}

nav {
    font-family: "Megan June";
    font-size: 1.25em;
    background-color: rgba(163, 237, 255, 0.75) !important;
}

footer {
    background-color: #D2F0FA;
}

footer a {
    font-family: "Megan June";
    font-size: 0.9em;
    letter-spacing: 0.1em;
    color: navy;
    padding: 10px 0px;
}

footer h2 {
    font-size: 2.3em;
    padding: 5px 0px 0px 0px;
}

p {
    padding: 0px;
}

/* Desktop */

@media (min-width: 768px) {

}

