@font-face {
    font-family: 'Megan June';
    src: url('../fonts/Megan_June.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins_Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Floating animation */

@keyframes float {
	0% {
		
		transform: translatey(0px);
	}
	50% {
		
		transform: translatey(-20px);
	}
	100% {
		
		transform: translatey(0px);
	}
}

section {
    padding: 50px 0px;
}

#landing {
    background-image: url(../images/kids-shadow.jpg);
    width: 100%;
    height: 100vh;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    resize: both;
    display: block;
}

#landing-inner h1, #landing-inner p {
    animation: float 6s ease-in-out infinite;
}

#landing-inner {
    margin-top: 30vh;
}

h1 {
    font-size: 3em;
    color: white;
    font-family: "SignPainter";
}

#landing p, button {
    font-family: "Megan June";
    font-size: 1.5em;
    color: white;
}

button {
    border-radius: 10px;
    border: 3px solid white;
    background-color: transparent;
    padding: 5px 40px;
}

#landing h1, #landing p, #landing button {
    margin: 20px 0px 20px 0px;
}

#index-welcome img {
    border: 7px solid white;
    box-shadow: 2px 2px 4px rgba(230, 214, 186, 0.5)
}

#landing-inner p {
    width: 90%;
    margin: 0 auto;
}

figcaption {
    font-family: "Megan June";
    font-size: 2em !important;
}

#index-goals figcaption {
    color: #D0021B;
}

#index-cert figcaption, #index-cert-figcaption {
    font-size: 1.5em !important;
}

/* Image sizes */

#index-cert img {
    max-width: 125px;
    max-height: 125px;
    animation: float 6s ease-in-out infinite;
}

#index-cert .row:first-of-type .col {
    width: 60% !important;
    border-bottom: rgb(19, 58, 104, 0.2) 2px solid;
    margin-bottom: 2rem;
}

#index-cert .row:first-of-type p {
    font-family: "Megan June";
    width: 50%;
    margin: 0 auto;
    font-size: 1.4rem;
}

.secondary {
    color: #4c4c4c;
}

#index-cert-mob img  {
    max-width: 90px;
    max-height: 90px;
    margin-left: 5px;
}

#index-goals img {
    max-width: 150px;
    max-height: 150px;
}

/* Desktop */

@media (min-width: 768px) {

    main section img {
        max-width: 400px;
    }

    h1 {
        font-size: 4em;
    }
    
    #landing p, button {
        font-size: 2em;
    }

}