#programs-main img, #policies-main img {
    max-width: 150px;
}

#programs-main h3, #policies-main h3 {
    font-family: "Megan June";
    color: #133A68;
}

#policies-main h4 {
    font-family: "Megan June";
    font-size: 1.7em;
    color: #D0021B;
}

.program-prices-outer, .policies-outer {
    margin: 10px 40px 10px 40px;
    padding: 20px 0px 30px 0px;
    background: white;
    position: relative;
    box-shadow: 2px 2px 5px #d1d1d1;
    font-family: "Poppins";
}

.program-prices-top, .policies-top {
    background: linear-gradient(180deg, #44B2E3 75%, white 0%);
    text-align: center;
}

.expand {
    border: none;
    background: none;
}

.card-body {
    width: 100%;
    border: 5px solid;
    border-image-source: linear-gradient(180deg, #44B2E3, rgb(137, 214, 247));
    border-image-slice: 1;
    box-shadow: 2px 2px 4px grey;
    text-align: left;
    font-family: "Poppins";
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Skills */

#skills-main img {
    max-width: 100px;
}

#skills-main h3 {
    font-family: "Megan June";
    color: #D0021B;
}

/* Info */

#info-1 {
    background: linear-gradient(to right bottom,
    #F8FCFE 50%, #EAF8FC 50%);
}

#info-2 {
    background: linear-gradient(to right bottom,
    #FEFBF6 50%, #FBF5EC 50%);
}

#info-2 button {
    border-radius: 10px;
    background-color: transparent;
    border: 4px solid #D0021B;
    color: #D0021B;
    padding: 10px 30px;
    margin: 20px 0px 20px 0px;
}

#info-1, #info-2 {
    padding-left: 20px;
    padding-right: 20px;
}

#info-1 span, #info-2 span {
    font-family: "Megan June";
    font-size: 2em;
}

#info-1 p, #info-2 p {
    font-family: "Poppins";
    color: #133A68;
}

#info-1 span {
    color: #133A68;
    margin-top: 20px;
    margin-bottom: 20px;
}

#info-2 span {
    color: #D0021B;
}

.body-top-ocean {
    padding-bottom: 50px;
}
